
.container__menu{
    background-color: #000095;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

}

.container__menu h1{
    margin-left: 2em;
}

.container__menu nav{
    margin-right: 2em;
}

.highlights{
    color: #ffff51;
}

.container__nav{
    display: flex;
    gap: 1em;
    
}

.container__nav li{
    list-style-type: none;
}

.container__nav li a{
    font-weight: bolder;
}

.container__nav li a:hover{
    color: #ffff51;
}

.container__main{
    background-color: #1c0af8;
}

.section__apresentation{
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section__apresentation__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40vw;
    gap: 1em;
    text-align: justify;
}
.section__apresentation__content p{
    font-size: 2em;
}


.img__perfil{
    border: 2px solid #ffff51;
    border-radius: 50%;
    height: 40vh;
    width: 20vw;
}

.section__apresentation__button{
    display: flex;
    gap: 4em;
}

.button{
    padding: 1.5em 3em;
    border: 2px solid #ffff51 ;
    border-radius: 20px;
    background-color: transparent;
    color: #ffff51;
}

.button:hover{
    background-color: #ffff51;
    color: #1c0af8;
    transition: 1s;
}

.container__section__about{
    background-color: #000095;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.about{
    width: 40vw;
}

.about h2, .about p{
    margin-bottom: 1em;
    text-align: justify;
}

.img_about{
    filter: 
        drop-shadow(0 0 5px rgba(255, 255, 81, 0.8)) /* Amarelo base */
        drop-shadow(0 0 10px rgba(255, 255, 81, 0.6)) /* Amarelo um pouco mais claro */
        drop-shadow(0 0 15px rgba(255, 255, 81, 0.4)) /* Amarelo mais claro */
        drop-shadow(0 0 20px rgba(255, 255, 81, 0.2)) /* Amarelo muito claro */
        brightness(1.2);
}

